<a href="https://colab.research.google.com/github/dikshank/Email-Classification/blob/main/Spam_Email_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# cd /content/drive/MyDrive

/content/drive/MyDrive

In [ ]:
# ! mkdir Email_Classification

In [ ]:
# cd /content/drive/MyDrive/Email_Classification

/content/drive/MyDrive/Email_Classification

In [ ]:
# ! wget https://archive.ics.uci.edu/ml/machine-learning-databases/spambase/spambase.zip

--2022-02-05 07:28:37--  https://archive.ics.uci.edu/ml/machine-learning-databases/spambase/spambase.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 125447 (123K) [application/x-httpd-php]
Saving to: ‘spambase.zip’

spambase.zip        100%[===================>] 122.51K   649KB/s    in 0.2s

2022-02-05 07:28:38 (649 KB/s) - ‘spambase.zip’ saved [125447/125447]

In [ ]:
# ! unzip /content/drive/MyDrive/Email_Classification/spam_email_dataset.zip

Archive:  /content/drive/MyDrive/Email_Classification/spam_email_dataset.zip
  inflating: spam_ham_dataset.csv

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Email_Classification/spam_ham_dataset.csv')

In [ ]:
data

      Unnamed: 0  ... label_num
0            605  ...         0
1           2349  ...         0
2           3624  ...         0
3           4685  ...         1
4           2030  ...         0
...          ...  ...       ...
5166        1518  ...         0
5167         404  ...         0
5168        2933  ...         0
5169        1409  ...         0
5170        4807  ...         1

[5171 rows x 4 columns]

In [ ]:
data.shape

(5171, 4)

In [ ]:
data.drop(['label','Unnamed: 0'],axis=1,inplace=True)

In [ ]:
data.shape

(5171, 2)

In [ ]:
data.iloc[0]['text']        # first way to access text of first e-mail

"Subject: enron methanol ; meter # : 988291\r\nthis is a follow up to the note i gave you on monday , 4 / 3 / 00 { preliminary\r\nflow data provided by daren } .\r\nplease override pop ' s daily volume { presently zero } to reflect daily\r\nactivity you can obtain from gas control .\r\nthis change is needed asap for economics purposes ."

In [ ]:
data['text'][0]       # second way to access text of first e-mail

"Subject: enron methanol ; meter # : 988291\r\nthis is a follow up to the note i gave you on monday , 4 / 3 / 00 { preliminary\r\nflow data provided by daren } .\r\nplease override pop ' s daily volume { presently zero } to reflect daily\r\nactivity you can obtain from gas control .\r\nthis change is needed asap for economics purposes ."

In [ ]:
data['text'][5]

'Subject: ehronline web address change\r\nthis message is intended for ehronline users only .\r\ndue to a recent change to ehronline , the url ( aka " web address " ) for accessing ehronline needs to be changed on your computer . the change involves adding the letter " s " to the " http " reference in the url . the url for accessing ehronline should be : https : / / ehronline . enron . com .\r\nthis change should be made by those who have added the url as a favorite on the browser .'

In [ ]:
import nltk

In [ ]:
from nltk.tokenize import word_tokenize       # to tokenize out email text

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
# list of tokens
email_1 = word_tokenize(data.iloc[0]['text'])
email_2 = word_tokenize(data.iloc[5170]['text'])

In [ ]:
email_1

['Subject',
 ':',
 'enron',
 'methanol',
 ';',
 'meter',
 '#',
 ':',
 '988291',
 'this',
 'is',
 'a',
 'follow',
 'up',
 'to',
 'the',
 'note',
 'i',
 'gave',
 'you',
 'on',
 'monday',
 ',',
 '4',
 '/',
 '3',
 '/',
 '00',
 '{',
 'preliminary',
 'flow',
 'data',
 'provided',
 'by',
 'daren',
 '}',
 '.',
 'please',
 'override',
 'pop',
 "'",
 's',
 'daily',
 'volume',
 '{',
 'presently',
 'zero',
 '}',
 'to',
 'reflect',
 'daily',
 'activity',
 'you',
 'can',
 'obtain',
 'from',
 'gas',
 'control',
 '.',
 'this',
 'change',
 'is',
 'needed',
 'asap',
 'for',
 'economics',
 'purposes',
 '.']

In [ ]:
vocab = set(email_1).union(set(email_2))

In [ ]:
len(vocab) # Every single e-mail can be represented by 152 tokens(2 rows and 152 columns)

152

In [ ]:
from nltk.corpus import stopwords       # to remove useless words

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
len(stopwords.words('english'))

179

In [ ]:
from spacy.lang.en.stop_words import STOP_WORDS

In [ ]:
len(STOP_WORDS)

326

In [ ]:
from collections import Counter
new=list((Counter(vocab) - Counter(STOP_WORDS)).elements())

In [ ]:
len(new)

105

**1. Tokenization**

---
**2. Stop Words Removal**

---
**3. Unnecessary Token Removal**
\
*(symbol, punctuation marks, Special Characters, Digits and Numbers)*

---
**4. Smart Stemming** 
\
*(LEMMATIZATION (remove tenses))*

---
**6. coverting all tokens in Lowercase**

---
**5. Contractions Removal** 
\
*(for ex:-  don't --> do not)*

In [ ]:
pip install contractions

Requirement already satisfied: contractions in /usr/local/lib/python3.7/dist-packages (0.1.66)
Requirement already satisfied: textsearch>=0.0.21 in /usr/local/lib/python3.7/dist-packages (from contractions) (0.0.21)
Requirement already satisfied: pyahocorasick in /usr/local/lib/python3.7/dist-packages (from textsearch>=0.0.21->contractions) (1.4.2)
Requirement already satisfied: anyascii in /usr/local/lib/python3.7/dist-packages (from textsearch>=0.0.21->contractions) (0.3.0)

In [ ]:
import re
import nltk
from contractions import contractions_dict
from nltk.corpus import stopwords
from spacy.lang.en.stop_words import STOP_WORDS
from itertools import filterfalse
from nltk import pos_tag
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

In [ ]:
def strip_titles(text):
  if "Subject: re :" in text:
    return text[14:]

  elif "Subject: news :" in text:
    return text[16:]

  else:
    return text[9:]

In [ ]:
data['text'] = data['text'].apply(lambda x: strip_titles(x))

In [ ]:
data

                                                   text  label_num
0     enron methanol ; meter # : 988291\r\nthis is a...          0
1     hpl nom for january 9 , 2001\r\n( see attached...          0
2     neon retreat\r\nho ho ho , we ' re around to t...          0
3     photoshop , windows , office . cheap . main tr...          1
4     indian springs\r\nthis deal is to book the tec...          0
...                                                 ...        ...
5166  put the 10 on the ft\r\nthe transport volumes ...          0
5167  3 / 4 / 2000 and following noms\r\nhpl can ' t...          0
5168  calpine daily gas nomination\r\n>\r\n>\r\njuli...          0
5169  industrial worksheets for august 2000 activity...          0
5170  important online banking alert\r\ndear valued ...          1

[5171 rows x 2 columns]

In [ ]:
contractions_dict

{"'cause": 'because',
 "'tis": 'it is',
 "'twas": 'it was',
 "I'd": 'I would',
 "I'd've": 'I would have',
 "I'll": 'I will',
 "I'll've": 'I will have',
 "I'm": 'I am',
 "I'm'a": 'I am about to',
 "I'm'o": 'I am going to',
 "I've": 'I have',
 'I’d': 'I would',
 'I’d’ve': 'I would have',
 'I’ll': 'I will',
 'I’ll’ve': 'I will have',
 'I’m': 'I am',
 'I’m’a': 'I am about to',
 'I’m’o': 'I am going to',
 'I’ve': 'I have',
 'Whatcha': 'What are you',
 "ain't": 'are not',
 'ain’t': 'are not',
 "amn't": 'am not',
 'amn’t': 'am not',
 'apr.': 'april',
 "aren't": 'are not',
 'aren’t': 'are not',
 'aug.': 'august',
 "can't": 'cannot',
 "can't've": 'cannot have',
 'can’t': 'cannot',
 'can’t’ve': 'cannot have',
 "could've": 'could have',
 "couldn't": 'could not',
 "couldn't've": 'could not have',
 'couldn’t': 'could not',
 'couldn’t’ve': 'could not have',
 'could’ve': 'could have',
 "daren't": 'dare not',
 'daren’t': 'dare not',
 "daresn't": 'dare not',
 'daresn’t': 'dare not',
 "dasn't": 'dare not',
 'dasn’t': 'dare not',
 'dec.': 'december',
 "didn't": 'did not',
 'didn’t': 'did not',
 "doesn't": 'does not',
 'doesn’t': 'does not',
 "don't": 'do not',
 'don’t': 'do not',
 "e'er": 'ever',
 'em': 'them',
 "everyone's": 'everyone is',
 'everyone’s': 'everyone is',
 'e’er': 'ever',
 'feb.': 'february',
 'finna': 'fixing to',
 'gimme': 'give me',
 "gon't": 'go not',
 'gonna': 'going to',
 'gon’t': 'go not',
 'gotta': 'got to',
 "hadn't": 'had not',
 "hadn't've": 'had not have',
 'hadn’t': 'had not',
 'hadn’t’ve': 'had not have',
 "hasn't": 'has not',
 'hasn’t': 'has not',
 "haven't": 'have not',
 'haven’t': 'have not',
 "he'd": 'he would',
 "he'd've": 'he would have',
 "he'll": 'he will',
 "he'll've": 'he will have',
 "he's": 'he is',
 "he've": 'he have',
 "here's": 'here is',
 'here’s': 'here is',
 'he’d': 'he would',
 'he’d’ve': 'he would have',
 'he’ll': 'he will',
 'he’ll’ve': 'he will have',
 'he’s': 'he is',
 'he’ve': 'he have',
 "how'd": 'how did',
 "how'd'y": 'how do you',
 "how'll": 'how will',
 "how're": 'how are',
 "how's": 'how is',
 'how’d': 'how did',
 'how’d’y': 'how do you',
 'how’ll': 'how will',
 'how’re': 'how are',
 'how’s': 'how is',
 "isn't": 'is not',
 'isn’t': 'is not',
 "it'd": 'it would',
 "it'd've": 'it would have',
 "it'll": 'it will',
 "it'll've": 'it will have',
 "it's": 'it is',
 'it’d': 'it would',
 'it’d’ve': 'it would have',
 'it’ll': 'it will',
 'it’ll’ve': 'it will have',
 'it’s': 'it is',
 'jan.': 'january',
 'jul.': 'july',
 'jun.': 'june',
 'kinda': 'kind of',
 "let's": 'let us',
 'let’s': 'let us',
 'luv': 'love',
 "ma'am": 'madam',
 'mar.': 'march',
 "may've": 'may have',
 "mayn't": 'may not',
 'mayn’t': 'may not',
 'may’ve': 'may have',
 'ma’am': 'madam',
 "might've": 'might have',
 "mightn't": 'might not',
 "mightn't've": 'might not have',
 'mightn’t': 'might not',
 'mightn’t’ve': 'might not have',
 'might’ve': 'might have',
 "must've": 'must have',
 "mustn't": 'must not',
 "mustn't've": 'must not have',
 'mustn’t': 'must not',
 'mustn’t’ve': 'must not have',
 'must’ve': 'must have',
 "ne'er": 'never',
 "needn't": 'need not',
 "needn't've": 'need not have',
 'needn’t': 'need not',
 'needn’t’ve': 'need not have',
 'ne’er': 'never',
 'nov.': 'november',
 "o'": 'of',
 "o'clock": 'of the clock',
 "o'er": 'over',
 'oct.': 'october',
 "ol'": 'old',
 'ol’': 'old',
 "oughtn't": 'ought not',
 "oughtn't've": 'ought not have',
 'oughtn’t': 'ought not',
 'oughtn’t’ve': 'ought not have',
 'o’': 'of',
 'o’clock': 'of the clock',
 'o’er': 'over',
 'sep.': 'september',
 "sha'n't": 'shall not',
 "shalln't": 'shall not',
 'shalln’t': 'shall not',
 "shan't": 'shall not',
 "shan't've": 'shall not have',
 'shan’t': 'shall not',
 'shan’t’ve': 'shall not have',
 'sha’n’t': 'shall not',
 "she'd": 'she would',
 "she'd've": 'she would have',
 "she'll": 'she will',
 "she's": 'she is',
 'she’d': 'she would',
 'she’d’ve': 'she would have',
 'she’ll': 'she will',
 'she’s': 'she is',
 "should've": 'should have',
 "shouldn't": 'should not',
 "shouldn't've": 'should not have',
 'shouldn’t': 'should not',
 'shouldn’t’ve': 'should not have',
 'should’ve': 'should have',
 "so's": 'so is',
 "so've": 'so have',
 "somebody's": 'somebody is',
 'somebody’s': 'somebody is',
 "someone's": 'someone is',
 'someone’s': 'someone is',
 "something's": 'something is',
 'something’s': 'something is',
 'so’s': 'so is',
 'so’ve': 'so have',
 'sux': 'sucks',
 "that'd": 'that would',
 "that'd've": 'that would have',
 "that'll": 'that will',
 "that're": 'that are',
 "that's": 'that is',
 'that’d': 'that would',
 'that’d’ve': 'that would have',
 'that’ll': 'that will',
 'that’re': 'that are',
 'that’s': 'that is',
 "there'd": 'there would',
 "there'd've": 'there would have',
 "there'll": 'there will',
 "there're": 'there are',
 "there's": 'there is',
 'there’d': 'there would',
 'there’d’ve': 'there would have',
 'there’ll': 'there will',
 'there’re': 'there are',
 'there’s': 'there is',
 "these're": 'these are',
 'these’re': 'these are',
 "they'd": 'they would',
 "they'd've": 'they would have',
 "they'll": 'they will',
 "they'll've": 'they will have',
 "they're": 'they are',
 "they've": 'they have',
 'they’d': 'they would',
 'they’d’ve': 'they would have',
 'they’ll': 'they will',
 'they’ll’ve': 'they will have',
 'they’re': 'they are',
 'they’ve': 'they have',
 "this'd": 'this would',
 "this'll": 'this will',
 "this's": 'this is',
 'this’d': 'this would',
 'this’ll': 'this will',
 'this’s': 'this is',
 "those're": 'those are',
 'those’re': 'those are',
 "to've": 'to have',
 'to’ve': 'to have',
 'wanna': 'want to',
 "wasn't": 'was not',
 'wasn’t': 'was not',
 "we'd": 'we would',
 "we'd've": 'we would have',
 "we'll": 'we will',
 "we'll've": 'we will have',
 "we're": 'we are',
 "we've": 'we have',
 "weren't": 'were not',
 'weren’t': 'were not',
 'we’d': 'we would',
 'we’d’ve': 'we would have',
 'we’ll': 'we will',
 'we’ll’ve': 'we will have',
 'we’re': 'we are',
 'we’ve': 'we have',
 "what'd": 'what did',
 "what'll": 'what will',
 "what'll've": 'what will have',
 "what're": 'what are',
 "what's": 'what is',
 "what've": 'what have',
 'what’d': 'what did',
 'what’ll': 'what will',
 'what’ll’ve': 'what will have',
 'what’re': 'what are',
 'what’s': 'what is',
 'what’ve': 'what have',
 "when's": 'when is',
 "when've": 'when have',
 'when’s': 'when is',
 'when’ve': 'when have',
 "where'd": 'where did',
 "where're": 'where are',
 "where's": 'where is',
 "where've": 'where have',
 'where’d': 'where did',
 'where’re': 'where are',
 'where’s': 'where is',
 'where’ve': 'where have',
 "which's": 'which is',
 'which’s': 'which is',
 "who'd": 'who would',
 "who'd've": 'who would have',
 "who'll": 'who will',
 "who'll've": 'who will have',
 "who're": 'who are',
 "who's": 'who is',
 "who've": 'who have',
 'who’d': 'who would',
 'who’d’ve': 'who would have',
 'who’ll': 'who will',
 'who’ll’ve': 'who will have',
 'who’re': 'who are',
 'who’s': 'who is',
 'who’ve': 'who have',
 "why'd": 'why did',
 "why're": 'why are',
 "why's": 'why is',
 "why've": 'why have',
 'why’d': 'why did',
 'why’re': 'why are',
 'why’s': 'why is',
 'why’ve': 'why have',
 "will've": 'will have',
 'will’ve': 'will have',
 "won't": 'will not',
 "won't've": 'will not have',
 'won’t': 'will not',
 'won’t’ve': 'will not have',
 "would've": 'would have',
 "wouldn't": 'would not',
 "wouldn't've": 'would not have',
 'wouldn’t': 'would not',
 'wouldn’t’ve': 'would not have',
 'would’ve': 'would have',
 "y'all": 'you all',
 "y'all'd": 'you all would',
 "y'all'd've": 'you all would have',
 "y'all're": 'you all are',
 "y'all've": 'you all have',
 "you'd": 'you would',
 "you'd've": 'you would have',
 "you'll": 'you will',
 "you'll've": 'you shall have',
 "you're": 'you are',
 "you've": 'you have',
 'you’d': 'you would',
 'you’d’ve': 'you would have',
 'you’ll': 'you will',
 'you’ll’ve': 'you shall have',
 'you’re': 'you are',
 'you’ve': 'you have',
 'y’all': 'you all',
 'y’all’d': 'you all would',
 'y’all’d’ve': 'you all would have',
 'y’all’re': 'you all are',
 'y’all’ve': 'you all have',
 '’cause': 'because',
 '’tis': 'it is',
 '’twas': 'it was'}

In [ ]:
data['text'] = data['text'].apply(lambda x: word_tokenize(x))

In [ ]:
data

                                                   text  label_num
0     [enron, methanol, ;, meter, #, :, 988291, this...          0
1     [hpl, nom, for, january, 9, ,, 2001, (, see, a...          0
2     [neon, retreat, ho, ho, ho, ,, we, ', re, arou...          0
3     [photoshop, ,, windows, ,, office, ., cheap, ....          1
4     [indian, springs, this, deal, is, to, book, th...          0
...                                                 ...        ...
5166  [put, the, 10, on, the, ft, the, transport, vo...          0
5167  [3, /, 4, /, 2000, and, following, noms, hpl, ...          0
5168  [calpine, daily, gas, nomination, >, >, julie,...          0
5169  [industrial, worksheets, for, august, 2000, ac...          0
5170  [important, online, banking, alert, dear, valu...          1

[5171 rows x 2 columns]

In [ ]:
data['text'][0]

['enron',
 'methanol',
 ';',
 'meter',
 '#',
 ':',
 '988291',
 'this',
 'is',
 'a',
 'follow',
 'up',
 'to',
 'the',
 'note',
 'i',
 'gave',
 'you',
 'on',
 'monday',
 ',',
 '4',
 '/',
 '3',
 '/',
 '00',
 '{',
 'preliminary',
 'flow',
 'data',
 'provided',
 'by',
 'daren',
 '}',
 '.',
 'please',
 'override',
 'pop',
 "'",
 's',
 'daily',
 'volume',
 '{',
 'presently',
 'zero',
 '}',
 'to',
 'reflect',
 'daily',
 'activity',
 'you',
 'can',
 'obtain',
 'from',
 'gas',
 'control',
 '.',
 'this',
 'change',
 'is',
 'needed',
 'asap',
 'for',
 'economics',
 'purposes',
 '.']

In [ ]:
def normalize_tokens(list_of_tokens):
  return map(lambda x: x.lower(),list_of_tokens)

In [ ]:
data['text'] = data['text'].apply(lambda x: normalize_tokens(x))

In [ ]:
data['text']

0       <map object at 0x7f66fd62b050>
1       <map object at 0x7f66fd62bcd0>
2       <map object at 0x7f66fd612a10>
3       <map object at 0x7f66fd612050>
4       <map object at 0x7f66fd612350>
                     ...
5166    <map object at 0x7f66fc2265d0>
5167    <map object at 0x7f66fc226790>
5168    <map object at 0x7f66fc226910>
5169    <map object at 0x7f66fc226b50>
5170    <map object at 0x7f66fc226ed0>
Name: text, Length: 5171, dtype: object

In [ ]:
data['text'] = data['text'].apply(lambda x: list(x))

In [ ]:
data

                                                   text  label_num
0     [enron, methanol, ;, meter, #, :, 988291, this...          0
1     [hpl, nom, for, january, 9, ,, 2001, (, see, a...          0
2     [neon, retreat, ho, ho, ho, ,, we, ', re, arou...          0
3     [photoshop, ,, windows, ,, office, ., cheap, ....          1
4     [indian, springs, this, deal, is, to, book, th...          0
...                                                 ...        ...
5166  [put, the, 10, on, the, ft, the, transport, vo...          0
5167  [3, /, 4, /, 2000, and, following, noms, hpl, ...          0
5168  [calpine, daily, gas, nomination, >, >, julie,...          0
5169  [industrial, worksheets, for, august, 2000, ac...          0
5170  [important, online, banking, alert, dear, valu...          1

[5171 rows x 2 columns]

In [ ]:
def contracted_word_expension(token):
    if token in contractions_dict.keys():
        return contractions_dict[token]
    
    else:
        return token

In [ ]:
def contractions_expension(list_of_tokens):
    return map(contracted_word_expension,list_of_tokens) #map is a lazy loop

In [ ]:
data['text'] = data['text'].apply(lambda x: contractions_expension(x))

In [ ]:
data

                                text  label_num
0     <map object at 0x7f66fc36b210>          0
1     <map object at 0x7f66fc36b290>          0
2     <map object at 0x7f66fc36b310>          0
3     <map object at 0x7f66fc36bd90>          1
4     <map object at 0x7f66fc36b050>          0
...                              ...        ...
5166  <map object at 0x7f670566efd0>          0
5167  <map object at 0x7f670566ef10>          0
5168  <map object at 0x7f670566ee50>          0
5169  <map object at 0x7f670566ed90>          0
5170  <map object at 0x7f670566ecd0>          1

[5171 rows x 2 columns]

In [ ]:
list(data['text'][0])

['enron',
 'methanol',
 ';',
 'meter',
 '#',
 ':',
 '988291',
 'this',
 'is',
 'a',
 'follow',
 'up',
 'to',
 'the',
 'note',
 'i',
 'gave',
 'you',
 'on',
 'monday',
 ',',
 '4',
 '/',
 '3',
 '/',
 '00',
 '{',
 'preliminary',
 'flow',
 'data',
 'provided',
 'by',
 'daren',
 '}',
 '.',
 'please',
 'override',
 'pop',
 "'",
 's',
 'daily',
 'volume',
 '{',
 'presently',
 'zero',
 '}',
 'to',
 'reflect',
 'daily',
 'activity',
 'you',
 'can',
 'obtain',
 'from',
 'gas',
 'control',
 '.',
 'this',
 'change',
 'is',
 'needed',
 'asap',
 'for',
 'economics',
 'purposes',
 '.']

In [ ]:
data['text'] = data['text'].apply(lambda x: list(x))

In [ ]:
data

                                                   text  label_num
0                                                    []          0
1     [hpl, nom, for, january, 9, ,, 2001, (, see, a...          0
2     [neon, retreat, ho, ho, ho, ,, we, ', re, arou...          0
3     [photoshop, ,, windows, ,, office, ., cheap, ....          1
4     [indian, springs, this, deal, is, to, book, th...          0
...                                                 ...        ...
5166  [put, the, 10, on, the, ft, the, transport, vo...          0
5167  [3, /, 4, /, 2000, and, following, noms, hpl, ...          0
5168  [calpine, daily, gas, nomination, >, >, julie,...          0
5169  [industrial, worksheets, for, august, 2000, ac...          0
5170  [important, online, banking, alert, dear, valu...          1

[5171 rows x 2 columns]

In [ ]:
# unnecessary token removal
regex = r'^@[a-zA-z0-9]|^#[a-zA-Z0-9]|\w+:\/{2}[\d\w-]+(\.[\d\w-]+)*(?:(?:\/[^\s/]*))*|\W+|\d+|<("[^"]*"|\'[^\']*\'|[^\'">])*>|_+|[^\u0000-\u007f]+'

In [ ]:
def waste_word_or_not(token):
    return re.search(regex,token)

In [ ]:
def filter_waste_words(list_of_tokens):
    return filterfalse(waste_word_or_not,list_of_tokens)

In [ ]:
data['text'] = data['text'].apply(lambda x: filter_waste_words(x))

In [ ]:
data['text'] = data['text'].apply(lambda x: list(x))

In [ ]:
data

                                                   text  label_num
0                                                    []          0
1     [hpl, nom, for, january, see, attached, file, ...          0
2     [neon, retreat, ho, ho, ho, we, re, around, to...          0
3     [photoshop, windows, office, cheap, main, tren...          1
4     [indian, springs, this, deal, is, to, book, th...          0
...                                                 ...        ...
5166  [put, the, on, the, ft, the, transport, volume...          0
5167  [and, following, noms, hpl, can, t, take, the,...          0
5168  [calpine, daily, gas, nomination, julie, as, i...          0
5169  [industrial, worksheets, for, august, activity...          0
5170  [important, online, banking, alert, dear, valu...          1

[5171 rows x 2 columns]

In [ ]:
def split(list_of_tokens):
    return map(lambda x: re.split(regex,x)[0],list_of_tokens)

In [ ]:
data['text'] = data['text'].apply(lambda x: split(x))

In [ ]:
data['text'] = data['text'].apply(lambda x: list(x))

In [ ]:
data

                                                   text  label_num
0                                                    []          0
1     [hpl, nom, for, january, see, attached, file, ...          0
2     [neon, retreat, ho, ho, ho, we, re, around, to...          0
3     [photoshop, windows, office, cheap, main, tren...          1
4     [indian, springs, this, deal, is, to, book, th...          0
...                                                 ...        ...
5166  [put, the, on, the, ft, the, transport, volume...          0
5167  [and, following, noms, hpl, can, t, take, the,...          0
5168  [calpine, daily, gas, nomination, julie, as, i...          0
5169  [industrial, worksheets, for, august, activity...          0
5170  [important, online, banking, alert, dear, valu...          1

[5171 rows x 2 columns]

In [ ]:
en_stop_words = list(set(stopwords.words('english')).union(set(STOP_WORDS)))

In [ ]:
def is_stopword(token):
    return not(token in en_stop_words or re.search(r'\b\w\b|[^\u0000-\u007f]+|_+|\W+',token))

In [ ]:
def stopwords_removals(list_of_tokens):
    return filter(is_stopword,list_of_tokens)

In [ ]:
data['text'] = data['text'].apply(lambda x: stopwords_removals(x))

In [ ]:
data['text'] = data['text'].apply(lambda x: list(x))

In [ ]:
data

                                                   text  label_num
0                                                    []          0
1     [hpl, nom, january, attached, file, hplnol, xl...          0
2     [neon, retreat, ho, ho, ho, wonderful, time, y...          0
3     [photoshop, windows, office, cheap, main, tren...          1
4     [indian, springs, deal, book, teco, pvr, reven...          0
...                                                 ...        ...
5166  [ft, transport, volumes, decreased, contract, ...          0
5167  [following, noms, hpl, extra, mmcf, weekend, t...          0
5168  [calpine, daily, gas, nomination, julie, menti...          0
5169  [industrial, worksheets, august, activity, att...          0
5170  [important, online, banking, alert, dear, valu...          1

[5171 rows x 2 columns]

In [ ]:
def get_wnet_pos_tag(treebank_tag):
    if treebank_tag[1].startswith('J'):
        return (treebank_tag[0],wordnet.ADJ)
    elif treebank_tag[1].startswith('V'):
        return (treebank_tag[0],wordnet.VERB)
    elif treebank_tag[1].startswith('N'):
        return (treebank_tag[0],wordnet.NOUN)
    elif treebank_tag[1].startswith('R'):
        return (treebank_tag[0],wordnet.ADV)
    else:
        (treebank_tag[0],wordnet.NOUN)

In [ ]:
def get_pos_tag(list_of_tokens):
    return map(get_wnet_pos_tag,pos_tag(list_of_tokens))

In [ ]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [ ]:
data['text'] = data['text'].apply(lambda x: get_pos_tag(x))

In [ ]:
data['text'] = data['text'].apply(lambda x: list(x))

In [ ]:
data

                                                   text  label_num
0                                                    []          0
1     [(hpl, n), None, (january, a), (attached, v), ...          0
2     [(neon, r), (retreat, n), (ho, a), (ho, n), (h...          0
3     [(photoshop, n), (windows, v), (office, n), (c...          1
4     [(indian, a), (springs, n), (deal, n), (book, ...          0
...                                                 ...        ...
5166  [(ft, a), (transport, n), (volumes, n), (decre...          0
5167  [(following, v), (noms, n), (hpl, a), (extra, ...          0
5168  [(calpine, a), (daily, a), (gas, n), (nominati...          0
5169  [(industrial, a), (worksheets, n), (august, v)...          0
5170  [(important, a), (online, n), (banking, n), (a...          1

[5171 rows x 2 columns]

In [ ]:
lemmatizer = WordNetLemmatizer()

In [ ]:

def token_lemmatization(token):
    if token == None:
        return ""
    else:
        return lemmatizer.lemmatize(word=token[0],pos=token[1])

In [ ]:
def lemmatization(list_of_tokens):
    if len(list_of_tokens) > 0:
        return map(lambda x: token_lemmatization(x),list_of_tokens)
    else:
        return ""

In [ ]:
data['text'] = data['text'].apply(lambda x: lemmatization(x))

In [ ]:
data

                                text  label_num
0                                             0
1     <map object at 0x7f66fda56290>          0
2     <map object at 0x7f66fda561d0>          0
3     <map object at 0x7f66fda56090>          1
4     <map object at 0x7f66fda56710>          0
...                              ...        ...
5166  <map object at 0x7f6705e3add0>          0
5167  <map object at 0x7f6705e3a1d0>          0
5168  <map object at 0x7f6705e3af50>          0
5169  <map object at 0x7f6705e3a4d0>          0
5170  <map object at 0x7f66fda2d810>          1

[5171 rows x 2 columns]

In [ ]:
data['text'] = data['text'].apply(lambda x: list(x))

In [ ]:
data

                                                   text  label_num
0                                                    []          0
1     [hpl, , january, attach, file, hplnol, xl, hpl...          0
2     [neon, retreat, ho, ho, ho, wonderful, time, y...          0
3     [photoshop, windows, office, cheap, main, tren...          1
4     [indian, spring, deal, book, teco, pvr, revenu...          0
...                                                 ...        ...
5166  [ft, transport, volume, decrease, contract, th...          0
5167  [follow, noms, hpl, extra, mmcf, weekend, try,...          0
5168  [calpine, daily, gas, nomination, julie, menti...          0
5169  [industrial, worksheet, august, activity, atta...          0
5170  [important, online, banking, alert, dear, valu...          1

[5171 rows x 2 columns]

In [ ]:
vocab = set()
for list_of_tokens in data['text']:
    vocab = vocab.union(set(list_of_tokens))

In [ ]:
vocab = list(vocab)

In [ ]:
vocab.pop(0)

''

In [ ]:
vocab_dict = dict(zip(vocab,list(range(0,len(vocab)))))

In [ ]:
vocab_dict

{'tyson': 0,
 'backtrack': 1,
 'foreveryourhost': 2,
 'nnwehz': 3,
 'shyness': 4,
 'assurance': 5,
 'thncc': 6,
 'italian': 7,
 'lamplight': 8,
 'firtxed': 9,
 'lengthening': 10,
 'interstate': 11,
 'bog': 12,
 'somma': 13,
 'resurgent': 14,
 'rlp': 15,
 'haply': 16,
 'tokenized': 17,
 'fioriicet': 18,
 'enrolls': 19,
 'wonen': 20,
 'byronicconnivance': 21,
 'adios': 22,
 'mutation': 23,
 'sma': 24,
 'wtcpl': 25,
 'angiospermyoke': 26,
 'conferrable': 27,
 'maple': 28,
 'usps': 29,
 'innermostkinglet': 30,
 'buiider': 31,
 'rigid': 32,
 'cabp': 33,
 'chj': 34,
 'purdy': 35,
 'wishbook': 36,
 'brother': 37,
 'occasional': 38,
 'restructuring': 39,
 'attachement': 40,
 'dyersdale': 41,
 'hgbwlwey': 42,
 'pallant': 43,
 'pneumonia': 44,
 'suburban': 45,
 'press': 46,
 'introduce': 47,
 'amdahl': 48,
 'ohmmeter': 49,
 'dkczf': 50,
 'emolument': 51,
 'mprfk': 52,
 'remunerate': 53,
 'trea': 54,
 'eigenvector': 55,
 'cent': 56,
 'bjfoysmvunbutuqk': 57,
 'ckquy': 58,
 'forging': 59,
 'vdvqeyjij': 60,
 'evolutionary': 61,
 'atypic': 62,
 'agamemnon': 63,
 'iee': 64,
 'uqs': 65,
 'camino': 66,
 'tortoiseshell': 67,
 'attion': 68,
 'atzpjy': 69,
 'grows': 70,
 'qrbtf': 71,
 'braid': 72,
 'recovery': 73,
 'tbstebbins': 74,
 'hib': 75,
 'booming': 76,
 'gilmtmv': 77,
 'acquit': 78,
 'inode': 79,
 'noaa': 80,
 'plastisol': 81,
 'estimate': 82,
 'dcenterstrongfont': 83,
 'iekouqi': 84,
 'waistcoat': 85,
 'beneath': 86,
 'allocated': 87,
 'godzillanirvanal': 88,
 'george': 89,
 'marcel': 90,
 'timekeeping': 91,
 'wistful': 92,
 'argonaut': 93,
 'drowned': 94,
 'umber': 95,
 'loth': 96,
 'stengel': 97,
 'lesswrl': 98,
 'moqwrcaigwvvfpsljzycp': 99,
 'actuate': 100,
 'see': 101,
 'mplayer': 102,
 'bbx': 103,
 'ihhze': 104,
 'miley': 105,
 'clutch': 106,
 'hx': 107,
 'intimate': 108,
 'dosage': 109,
 'adventure': 110,
 'gi': 111,
 'succeed': 112,
 'musty': 113,
 'vldeos': 114,
 'sntqssxob': 115,
 'noel': 116,
 'deiray': 117,
 'sadler': 118,
 'ubu': 119,
 'phelloderm': 120,
 'zkoogvxgfhqlbksflur': 121,
 'nitrogenous': 122,
 'rlaegydzfb': 123,
 'daily': 124,
 'firewal': 125,
 'electrode': 126,
 'theory': 127,
 'mtlk': 128,
 'wav': 129,
 'cape': 130,
 'stump': 131,
 'pressure': 132,
 'sacrosanct': 133,
 'lwcc': 134,
 'saturday': 135,
 'lastiendas': 136,
 'eit': 137,
 'vonda': 138,
 'countless': 139,
 'stopover': 140,
 'issbyew': 141,
 'prunespurchasers': 142,
 'chameleon': 143,
 'jacobite': 144,
 'aldano': 145,
 'mountain': 146,
 'nazareth': 147,
 'wrongfu': 148,
 'usefulness': 149,
 'alphabetical': 150,
 'qpktrvgvi': 151,
 'bkrb': 152,
 'xzellxo': 153,
 'berweisungen': 154,
 'buy': 155,
 'defer': 156,
 'emlqaf': 157,
 'gnbsp': 158,
 'bonanza': 159,
 'counterargument': 160,
 'wcdfow': 161,
 'postal': 162,
 'ddnao': 163,
 'ptasmgt': 164,
 'gratifies': 165,
 'ci': 166,
 'masterl': 167,
 'zhou': 168,
 'defendant': 169,
 'pronto': 170,
 'dealticket': 171,
 'qh': 172,
 'vi': 173,
 'cleanup': 174,
 'afk': 175,
 'bkhlr': 176,
 'darialfioricet': 177,
 'evzhiyajl': 178,
 'prescr': 179,
 'gove': 180,
 'znrlt': 181,
 'logisitcs': 182,
 'bextra': 183,
 'meedication': 184,
 'avmthae': 185,
 'numerous': 186,
 'dealing': 187,
 'chubbycrappie': 188,
 'arwpwvcyxdnsw': 189,
 'nepirem': 190,
 'flimbot': 191,
 'confidential': 192,
 'sound': 193,
 'dish': 194,
 'udanhyr': 195,
 'carrigan': 196,
 'arme': 197,
 'mxahh': 198,
 'ayxedc': 199,
 'xiaozhuo': 200,
 'morb': 201,
 'interlude': 202,
 'sterling': 203,
 'intramonth': 204,
 'stingray': 205,
 'xwyo': 206,
 'auszufllen': 207,
 'shamefaced': 208,
 'adequately': 209,
 'inemail': 210,
 'cgm': 211,
 'cbm': 212,
 'taablets': 213,
 'offences': 214,
 'grmzde': 215,
 'autonoms': 216,
 'ifpyc': 217,
 'lett': 218,
 'gunsling': 219,
 'boohuber': 220,
 'rwjlxrqv': 221,
 'retentive': 222,
 'goonet': 223,
 'heater': 224,
 'gotshal': 225,
 'handclasp': 226,
 'intelamd': 227,
 'sentry': 228,
 'riboflavin': 229,
 'periclean': 230,
 'sdfuoisduf': 231,
 'exultation': 232,
 'bendele': 233,
 'superfluity': 234,
 'ash': 235,
 'doubleton': 236,
 'leasehold': 237,
 'goerner': 238,
 'transcript': 239,
 'neuropsychiatric': 240,
 'sergei': 241,
 'plumb': 242,
 'oblig': 243,
 'wi': 244,
 'string': 245,
 'enlighten': 246,
 'hwocozx': 247,
 'oprah': 248,
 'withdrew': 249,
 'victory': 250,
 'fire': 251,
 'zuid': 252,
 'hoff': 253,
 'coupeglutamine': 254,
 'spite': 255,
 'thou': 256,
 'broglie': 257,
 'araceli': 258,
 'borrett': 259,
 'reduces': 260,
 'schnorbach': 261,
 'tio': 262,
 'cerebellum': 263,
 'matinee': 264,
 'warehouse': 265,
 'frey': 266,
 'predispose': 267,
 'unconsolidated': 268,
 'katytailgate': 269,
 'uijcn': 270,
 'inyhoc': 271,
 'wntpb': 272,
 'gbaxley': 273,
 'etejb': 274,
 'hundred': 275,
 'requistions': 276,
 'erequest': 277,
 'prone': 278,
 'eftute': 279,
 'expatriate': 280,
 'rhone': 281,
 'biosupplynet': 282,
 'welfare': 283,
 'feeney': 284,
 'strongstrongemfont': 285,
 'stealth': 286,
 'questionnaire': 287,
 'phinojos': 288,
 'sinscrire': 289,
 'incontrovertible': 290,
 'dherron': 291,
 'repurchase': 292,
 'ranked': 293,
 'recital': 294,
 'beograd': 295,
 'dunk': 296,
 'hl': 297,
 'snap': 298,
 'saturn': 299,
 'penetration': 300,
 'mouth': 301,
 'markket': 302,
 'comply': 303,
 'comprehensive': 304,
 'reeeemoooooveeeee': 305,
 'aocgwbqhf': 306,
 'minicomputer': 307,
 'repliacs': 308,
 'xltzo': 309,
 'dgck': 310,
 'clone': 311,
 'qty': 312,
 'proof': 313,
 'belove': 314,
 'reorganize': 315,
 'vastar': 316,
 'earthworm': 317,
 'endogenous': 318,
 'sheeren': 319,
 'anticipate': 320,
 'mortage': 321,
 'lichentwalter': 322,
 'yqj': 323,
 'rio': 324,
 'iuz': 325,
 'scroll': 326,
 'interm': 327,
 'kmycws': 328,
 'mineable': 329,
 'gmijdnp': 330,
 'asap': 331,
 'terminology': 332,
 'romjr': 333,
 'developement': 334,
 'jna': 335,
 'sickness': 336,
 'correa': 337,
 'lafollette': 338,
 'squ': 339,
 'zanaflex': 340,
 'iwantoffthisride': 341,
 'estate': 342,
 'glassy': 343,
 'holdout': 344,
 'sfx': 345,
 'venita': 346,
 'qyc': 347,
 'gtbmbbsoitsvn': 348,
 'fascinating': 349,
 'nytee': 350,
 'ajhzzzhgbr': 351,
 'gmqxpqu': 352,
 'abstention': 353,
 'bvlmhht': 354,
 'breakfast': 355,
 'fromact': 356,
 'azlduqfp': 357,
 'tunnelsl': 358,
 'christina': 359,
 'gh': 360,
 'sharpshooter': 361,
 'conglomerate': 362,
 'vsrpuzw': 363,
 'subpoena': 364,
 'new': 365,
 'desolater': 366,
 'cf': 367,
 'stockbroker': 368,
 'smoothly': 369,
 'qslw': 370,
 'governance': 371,
 'militiaman': 372,
 'abigail': 373,
 'jason': 374,
 'driveusb': 375,
 'entitlement': 376,
 'brae': 377,
 'flz': 378,
 'spectroscopy': 379,
 'leonel': 380,
 'hale': 381,
 'chockshi': 382,
 'athletic': 383,
 'clzkex': 384,
 'reliabie': 385,
 'dave': 386,
 'durbin': 387,
 'cap': 388,
 'oresteia': 389,
 'wwp': 390,
 'saga': 391,
 'grate': 392,
 'hood': 393,
 'guesswork': 394,
 'royal': 395,
 'weegujuqxim': 396,
 'deactivate': 397,
 'rpm': 398,
 'acs': 399,
 'mmbut': 400,
 'attributable': 401,
 'aekdju': 402,
 'trepidation': 403,
 'dexatrim': 404,
 'aunt': 405,
 'tyler': 406,
 'jruyrv': 407,
 'bg': 408,
 'gecko': 409,
 'loretta': 410,
 'xvdr': 411,
 'moonta': 412,
 'cordes': 413,
 'se': 414,
 'prognosticate': 415,
 'sagittal': 416,
 'richars': 417,
 'brittany': 418,
 'beginner': 419,
 'fungus': 420,
 'franchise': 421,
 'plant': 422,
 'soy': 423,
 'hispaniola': 424,
 'softw': 425,
 'chateau': 426,
 'christopherry': 427,
 'capricorn': 428,
 'bloomfield': 429,
 'reps': 430,
 'ascriptionarcher': 431,
 'processor': 432,
 'spade': 433,
 'stoppage': 434,
 'licensed': 435,
 'seminar': 436,
 'excisable': 437,
 'diva': 438,
 'licorice': 439,
 'acanthus': 440,
 'hvs': 441,
 'pl': 442,
 'eigenstate': 443,
 'sultan': 444,
 'calorie': 445,
 'leibert': 446,
 'inkjet': 447,
 'readyyet': 448,
 'parabolic': 449,
 'protean': 450,
 'chalet': 451,
 'harvard': 452,
 'gms': 453,
 'prescrip': 454,
 'dmshtml': 455,
 'fallback': 456,
 'collegial': 457,
 'proprietor': 458,
 'foto': 459,
 'dalton': 460,
 'stifle': 461,
 'onboard': 462,
 'stan': 463,
 'hee': 464,
 'hbi': 465,
 'ybjlkvjj': 466,
 'jf': 467,
 'aliuum': 468,
 'lustring': 469,
 'collusion': 470,
 'stretch': 471,
 'muong': 472,
 'paranoia': 473,
 'series': 474,
 'headline': 475,
 'olor': 476,
 'clpsjriw': 477,
 'buttonshorizon': 478,
 'aristotle': 479,
 'jhfjahe': 480,
 'mol': 481,
 'sorry': 482,
 'drudge': 483,
 'lumen': 484,
 'jeremyanalogous': 485,
 'garruto': 486,
 'hanoi': 487,
 'clatter': 488,
 'diffract': 489,
 'gnaw': 490,
 'margaritaville': 491,
 'fur': 492,
 'hakea': 493,
 'mtedf': 494,
 'reeeeemooooovee': 495,
 'branom': 496,
 'kleb': 497,
 'chlorophyll': 498,
 'loi': 499,
 'kvkcqcvz': 500,
 'informat': 501,
 'predominant': 502,
 'calm': 503,
 'feeble': 504,
 'manganese': 505,
 'clay': 506,
 'winslow': 507,
 'radiography': 508,
 'lwood': 509,
 'prime': 510,
 'bellatlantic': 511,
 'niobium': 512,
 'zenfr': 513,
 'gpa': 514,
 'buchanan': 515,
 'football': 516,
 'hog': 517,
 'baird': 518,
 'assai': 519,
 'nvmd': 520,
 'ragu': 521,
 'advised': 522,
 'curranc': 523,
 'ciosing': 524,
 'doctoral': 525,
 'qed': 526,
 'haugen': 527,
 'mcculloughbenelux': 528,
 'firmness': 529,
 'innu': 530,
 'udbh': 531,
 'quadrature': 532,
 'adamant': 533,
 'cohesive': 534,
 'mapping': 535,
 'gloom': 536,
 'rfp': 537,
 'megalopsia': 538,
 'deann': 539,
 'lindley': 540,
 'xqs': 541,
 'eiqn': 542,
 'nnnttjhkj': 543,
 'gaulle': 544,
 'dulse': 545,
 'ckaaewr': 546,
 'literary': 547,
 'peruse': 548,
 'claires': 549,
 'agonizing': 550,
 'yboarish': 551,
 'pxmlr': 552,
 'hawk': 553,
 'effluvium': 554,
 'yzgadsgk': 555,
 'oec': 556,
 'describes': 557,
 'bonze': 558,
 'largement': 559,
 'dash': 560,
 'entex': 561,
 'privilegded': 562,
 'mercier': 563,
 'ylsxlcuc': 564,
 'kinneman': 565,
 'lombardi': 566,
 'kjr': 567,
 'faxmernhp': 568,
 'mjg': 569,
 'substitute': 570,
 'wyvfrjxvs': 571,
 'strive': 572,
 'ferrous': 573,
 'clothesman': 574,
 'internetstore': 575,
 'clxmlgazhmoxwc': 576,
 'db': 577,
 'australia': 578,
 'ineffable': 579,
 'lunacy': 580,
 'hard': 581,
 'wontt': 582,
 'remedy': 583,
 'rotor': 584,
 'beggar': 585,
 'quahog': 586,
 'infamous': 587,
 'realize': 588,
 'raymond': 589,
 'menshealth': 590,
 'pocketful': 591,
 'valiuim': 592,
 'deadlock': 593,
 'czarina': 594,
 'gypsite': 595,
 'symbol': 596,
 'easymatch': 597,
 'tussioneex': 598,
 'edwardian': 599,
 'shes': 600,
 'dos': 601,
 'recibir': 602,
 'pragmatist': 603,
 'afraid': 604,
 'atrocity': 605,
 'lsno': 606,
 'collegian': 607,
 'affiliated': 608,
 'thjbt': 609,
 'trpointed': 610,
 'doesnt': 611,
 'cher': 612,
 'advanced': 613,
 'ccgm': 614,
 'geodetic': 615,
 'exxonmobiie': 616,
 'texasmkt': 617,
 'tahoe': 618,
 'tweed': 619,
 'habitation': 620,
 'knapp': 621,
 'clarissa': 622,
 'csd': 623,
 'ythow': 624,
 'froma': 625,
 'pow': 626,
 'candlelight': 627,
 'tfyaoe': 628,
 'iaxmlhfy': 629,
 'margot': 630,
 'rrcotten': 631,
 'pick': 632,
 'bob': 633,
 'kontrollieren': 634,
 'gun': 635,
 'hazard': 636,
 'dec': 637,
 'advertisement': 638,
 'nxpqh': 639,
 'dgabyxntu': 640,
 'tommorow': 641,
 'annuel': 642,
 'yoxju': 643,
 'noun': 644,
 'gkbhe': 645,
 'mdq': 646,
 'hydroxylate': 647,
 'utzvnk': 648,
 'escapescruise': 649,
 'rodney': 650,
 'hyh': 651,
 'acztffbr': 652,
 'eres': 653,
 'featured': 654,
 'insuline': 655,
 'assessor': 656,
 'astrodome': 657,
 'biceps': 658,
 'toroidal': 659,
 'brice': 660,
 'rtg': 661,
 'familiar': 662,
 'fywsoobtmvj': 663,
 'hunan': 664,
 'pcscrm': 665,
 'teikei': 666,
 'directs': 667,
 'pyroelectric': 668,
 'pod': 669,
 'skyhook': 670,
 'disseminate': 671,
 'ke': 672,
 'speciaiizes': 673,
 'marketingmall': 674,
 'tcbb': 675,
 'lbub': 676,
 'cretin': 677,
 'lordchamberlain': 678,
 'burgundian': 679,
 'naugle': 680,
 'bhk': 681,
 'culpable': 682,
 'wesj': 683,
 'nbrrabpd': 684,
 'corcoran': 685,
 'involution': 686,
 'vasectomy': 687,
 'cranberry': 688,
 'loose': 689,
 'foyer': 690,
 'slough': 691,
 'wobble': 692,
 'fldixbrr': 693,
 'matcher': 694,
 'loud': 695,
 'dxxuh': 696,
 'millinery': 697,
 'hnyman': 698,
 'crouch': 699,
 'pockmark': 700,
 'jackalltradejo': 701,
 'shulman': 702,
 'continual': 703,
 'alfonso': 704,
 'keenan': 705,
 'hettie': 706,
 'blythe': 707,
 'archpastor': 708,
 'pvilches': 709,
 'xjhfpa': 710,
 'resorces': 711,
 'jordain': 712,
 'talana': 713,
 'vvcxfn': 714,
 'unsvbscxibe': 715,
 'ytqt': 716,
 'lbizvxt': 717,
 'reiiabie': 718,
 'evangelism': 719,
 'negligent': 720,
 'kaf': 721,
 'koppers': 722,
 'south': 723,
 'bayou': 724,
 'ectisp': 725,
 'defray': 726,
 'wsll': 727,
 'susanwempe': 728,
 'iliad': 729,
 'qujclty': 730,
 'pickman': 731,
 'stay': 732,
 'starr': 733,
 'ymfot': 734,
 'workovers': 735,
 'nettle': 736,
 'woops': 737,
 'kimono': 738,
 'dismisses': 739,
 'glycerol': 740,
 'dispose': 741,
 'absolute': 742,
 'hultsman': 743,
 'micrografx': 744,
 'inactivated': 745,
 'affordableluxury': 746,
 'revenues': 747,
 'tender': 748,
 'gilligan': 749,
 'easter': 750,
 'figurate': 751,
 'bestowal': 752,
 'sgatekeep': 753,
 'clusive': 754,
 'geheb': 755,
 'leasechamplain': 756,
 'enzymolysis': 757,
 'assiduity': 758,
 'vanessa': 759,
 'embroider': 760,
 'contiguity': 761,
 'diacute': 762,
 'sonar': 763,
 'carolinianmetamorphose': 764,
 'component': 765,
 'scada': 766,
 'alvestad': 767,
 'purger': 768,
 'prevent': 769,
 'haleburr': 770,
 'market': 771,
 'opl': 772,
 'infarct': 773,
 'lisewskys': 774,
 'hoopitup': 775,
 'bergman': 776,
 'jamaica': 777,
 'jawbone': 778,
 'iusomcc': 779,
 'dailynews': 780,
 'repath': 781,
 'hookup': 782,
 'cockeye': 783,
 'wibke': 784,
 'automobile': 785,
 'temporally': 786,
 'communicable': 787,
 'transect': 788,
 'xmas': 789,
 'carboxybookend': 790,
 'flatulent': 791,
 'simpler': 792,
 'follow': 793,
 'recht': 794,
 'ackaging': 795,
 'kunbfif': 796,
 'neeeded': 797,
 'bvdkf': 798,
 'qoj': 799,
 'rostov': 800,
 'calais': 801,
 'lheo': 802,
 'checkbook': 803,
 'coliectiveiy': 804,
 'jv': 805,
 'uebphv': 806,
 'montpelier': 807,
 'hdgvnkano': 808,
 'youlaagan': 809,
 'timeiy': 810,
 'broadcast': 811,
 'haggard': 812,
 'shackley': 813,
 'lucastiffany': 814,
 'lackey': 815,
 'bergstrom': 816,
 'revolve': 817,
 'mclary': 818,
 'plaxo': 819,
 'habitantsop': 820,
 'dril': 821,
 'disordersidiosyncratic': 822,
 'pcbdd': 823,
 'placate': 824,
 'progressive': 825,
 'nashua': 826,
 'shelbi': 827,
 'desperate': 828,
 'adultery': 829,
 'hurt': 830,
 'egregious': 831,
 'medlcationsno': 832,
 'cannonda': 833,
 'vols': 834,
 'texypmtcnr': 835,
 'oyla': 836,
 'homer': 837,
 'splendor': 838,
 'costilla': 839,
 'gmuj': 840,
 'indomitable': 841,
 'tananarive': 842,
 'parlance': 843,
 'mosquito': 844,
 'boerner': 845,
 'maledict': 846,
 'qswlsff': 847,
 'viaduct': 848,
 'logarithmic': 849,
 'seeger': 850,
 'ucewn': 851,
 'reinforces': 852,
 'inszchumm': 853,
 'mollyl': 854,
 'category': 855,
 'wotan': 856,
 'xtegymf': 857,
 'tragically': 858,
 'cialis': 859,
 'turbocharged': 860,
 'pfuikr': 861,
 'quicken': 862,
 'nrm': 863,
 'groat': 864,
 'fontr': 865,
 'bgymyaxdh': 866,
 'umsonst': 867,
 'benevides': 868,
 'checksumnodal': 869,
 'lmmbtu': 870,
 'indescribable': 871,
 'elliptic': 872,
 'rep': 873,
 'coheirship': 874,
 'pinnacle': 875,
 'fhg': 876,
 'batool': 877,
 'sastifaction': 878,
 'zw': 879,
 'manor': 880,
 'mache': 881,
 'implacentate': 882,
 'eduardo': 883,
 'appointment': 884,
 'lady': 885,
 'xgreen': 886,
 'vym': 887,
 'bounty': 888,
 'charlton': 889,
 'transpacific': 890,
 'altar': 891,
 'maolson': 892,
 'integrated': 893,
 'ood': 894,
 'propriety': 895,
 'guggis': 896,
 'cabbage': 897,
 'eop': 898,
 'klonis': 899,
 'valet': 900,
 'mendel': 901,
 'finance': 902,
 'tanisha': 903,
 'finalist': 904,
 'sandmanyother': 905,
 'utkzvrh': 906,
 'dougherty': 907,
 'amblen': 908,
 'dominate': 909,
 'snvbf': 910,
 'moffob': 911,
 'cicada': 912,
 'withdrawl': 913,
 'cankerworm': 914,
 'prizes': 915,
 'homemade': 916,
 'giveth': 917,
 'brandee': 918,
 'ialuftot': 919,
 'maxey': 920,
 'rook': 921,
 'popup': 922,
 'millicent': 923,
 'apologetic': 924,
 'minimal': 925,
 'barbican': 926,
 'spu': 927,
 'buckle': 928,
 'condensate': 929,
 'cobrayomama': 930,
 'bartlett': 931,
 'sulphide': 932,
 'jiffy': 933,
 'latina': 934,
 'comedycontract': 935,
 'except': 936,
 'heuser': 937,
 'instinct': 938,
 'nu': 939,
 'apricot': 940,
 'autopay': 941,
 'burly': 942,
 'txd': 943,
 'logo': 944,
 'flung': 945,
 'opposed': 946,
 'ajax': 947,
 'dactylic': 948,
 'gwmvurvtdu': 949,
 'contrition': 950,
 'xleamington': 951,
 'outlet': 952,
 'teary': 953,
 'iadcbf': 954,
 'hounded': 955,
 'arroyobrook': 956,
 'mjkereluk': 957,
 'suction': 958,
 'carlock': 959,
 'unverz': 960,
 'relax': 961,
 'simulutors': 962,
 'milligan': 963,
 'ojsdm': 964,
 'tireeeeed': 965,
 'ebeth': 966,
 'irregularlarkspur': 967,
 'angel': 968,
 'solicit': 969,
 'htp': 970,
 'relaunching': 971,
 'immobility': 972,
 'chinquapin': 973,
 'derma': 974,
 'rjwmnpui': 975,
 'academic': 976,
 'akffxld': 977,
 'vpnc': 978,
 'eijqpud': 979,
 'flog': 980,
 'segment': 981,
 'pee': 982,
 'thlt': 983,
 'muffle': 984,
 'icq': 985,
 'pentane': 986,
 'sgcla': 987,
 'kljlzh': 988,
 'brnand': 989,
 'yivvfdwtd': 990,
 'luge': 991,
 'varnell': 992,
 'temser': 993,
 'gfcbde': 994,
 'individualize': 995,
 'amenity': 996,
 'uranus': 997,
 'indicator': 998,
 'calder': 999,
 ...}

In [ ]:
def join_tokens(list_of_tokens):
    return " ".join(list_of_tokens)

In [ ]:
data['text'] = data['text'].apply(lambda x: join_tokens(x))

In [ ]:
corpus = list()
for email_text in data['text']:
    corpus.append(email_text)

In [ ]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import PCA
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report

In [ ]:
vectorizer = TfidfVectorizer(vocabulary=vocab_dict)
tf_idf_matrix = vectorizer.fit_transform(corpus)

In [ ]:
tf_idf_matrix = tf_idf_matrix.toarray()

In [ ]:
df = pd.DataFrame(tf_idf_matrix)

In [ ]:
df.shape

(5171, 41277)

In [319]:
df['label_num'] = data['label_num']

In [320]:
pca = PCA(n_components=1000)

In [321]:
tf_idf_matrix_reduced = pca.fit_transform(tf_idf_matrix)

In [322]:
new_df = pd.DataFrame(data=tf_idf_matrix_reduced)

In [323]:
new_df['label_num'] = df['label_num']

In [324]:
gnb = GaussianNB()

In [380]:
X_train = new_df.iloc[:,0:300]

In [381]:
y_train = new_df['label_num']

In [382]:
gnb.fit(X=X_train,y=y_train)

GaussianNB()

In [383]:
predicted_categories = gnb.predict(X_train)

In [384]:
print(classification_report(y_true=y_train,y_pred=predicted_categories))

              precision    recall  f1-score   support

           0       0.95      0.91      0.93      3672
           1       0.80      0.89      0.85      1499

    accuracy                           0.91      5171
   macro avg       0.88      0.90      0.89      5171
weighted avg       0.91      0.91      0.91      5171