<a href="https://colab.research.google.com/github/dikshank/Email-Classification/blob/main/Spam_Email_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd /content/drive/MyDrive

/content/drive/MyDrive

In [ ]:
! mkdir Email_Classification

In [ ]:
cd /content/drive/MyDrive/Email_Classification

/content/drive/MyDrive/Email_Classification

In [ ]:
! wget https://archive.ics.uci.edu/ml/machine-learning-databases/spambase/spambase.zip

--2022-02-05 07:28:37--  https://archive.ics.uci.edu/ml/machine-learning-databases/spambase/spambase.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 125447 (123K) [application/x-httpd-php]
Saving to: ‘spambase.zip’

spambase.zip        100%[===================>] 122.51K   649KB/s    in 0.2s

2022-02-05 07:28:38 (649 KB/s) - ‘spambase.zip’ saved [125447/125447]

In [ ]:
! unzip /content/drive/MyDrive/Email_Classification/spam_email_dataset.zip

Archive:  /content/drive/MyDrive/Email_Classification/spam_email_dataset.zip
  inflating: spam_ham_dataset.csv

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Email_Classification/spam_ham_dataset.csv')

In [ ]:
data

      Unnamed: 0  ... label_num
0            605  ...         0
1           2349  ...         0
2           3624  ...         0
3           4685  ...         1
4           2030  ...         0
...          ...  ...       ...
5166        1518  ...         0
5167         404  ...         0
5168        2933  ...         0
5169        1409  ...         0
5170        4807  ...         1

[5171 rows x 4 columns]

In [ ]:
data.shape

(5171, 4)

In [ ]:
data.drop(['label','Unnamed: 0'],axis=1,inplace=True)

In [ ]:
data.shape

(5171, 2)

In [ ]:
data.iloc[0]['text']      # first way to access text of first e-mail

"Subject: enron methanol ; meter # : 988291\r\nthis is a follow up to the note i gave you on monday , 4 / 3 / 00 { preliminary\r\nflow data provided by daren } .\r\nplease override pop ' s daily volume { presently zero } to reflect daily\r\nactivity you can obtain from gas control .\r\nthis change is needed asap for economics purposes ."

In [ ]:
data['text'][0]           # second way to access text of first e-mail

"Subject: enron methanol ; meter # : 988291\r\nthis is a follow up to the note i gave you on monday , 4 / 3 / 00 { preliminary\r\nflow data provided by daren } .\r\nplease override pop ' s daily volume { presently zero } to reflect daily\r\nactivity you can obtain from gas control .\r\nthis change is needed asap for economics purposes ."

In [ ]:
import nltk

In [ ]:
from nltk.tokenize import word_tokenize  # to tokenize out email text

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
# list of tokens
email_1 = word_tokenize(data.iloc[0]['text'])
email_2 = word_tokenize(data.iloc[5170]['text'])

In [ ]:
email_1

['Subject',
 ':',
 'enron',
 'methanol',
 ';',
 'meter',
 '#',
 ':',
 '988291',
 'this',
 'is',
 'a',
 'follow',
 'up',
 'to',
 'the',
 'note',
 'i',
 'gave',
 'you',
 'on',
 'monday',
 ',',
 '4',
 '/',
 '3',
 '/',
 '00',
 '{',
 'preliminary',
 'flow',
 'data',
 'provided',
 'by',
 'daren',
 '}',
 '.',
 'please',
 'override',
 'pop',
 "'",
 's',
 'daily',
 'volume',
 '{',
 'presently',
 'zero',
 '}',
 'to',
 'reflect',
 'daily',
 'activity',
 'you',
 'can',
 'obtain',
 'from',
 'gas',
 'control',
 '.',
 'this',
 'change',
 'is',
 'needed',
 'asap',
 'for',
 'economics',
 'purposes',
 '.']

In [ ]:
vocab = set(email_1).union(set(email_2))

In [ ]:
len(vocab) # Every single e-mail can be represented by 152 tokens(2 rows and 152 columns)

152